<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstName" #firstName="ngModel"
        (change)="log(firstName)" id="firstName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First name is Required</div>
        <div *ngIf="firstName.errors.minlength">First name should be minimum {{ firstName.errors.minlength.requiredLength}} characters</div>
        <div *ngIf="firstName.errors.pattern">First name should match pattern</div>
        <div *ngIf="firstName.errors.maxlength">First name should be max 10 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label >
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe to maililng List
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option [value]="method.id" *ngFor="let method of contactMethods">{{ method.name}}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input type="radio" name="contactMethod" [value]="method.id" ngModel>
      {{method.name}}
    </label>
  </div>
  
  <p>{{ f.value | json}}</p>
  <button class="btn btn-primary"[disabled]="!f.valid">Submit</button>
</form>
