<form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input required minlength="3" ngModel name="name" id="courseName" type="text" class="form-control" #courseName="ngModel">
    <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.errors.required">First name is Required</div>
        <div *ngIf="courseName.errors.minlength">First name should be minimum {{ courseName.errors.minlength.requiredLength}} characters</div>
      </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select required name="category" id="category" ngModel class="form-control" #category="ngModel">
      <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="!category.valid && category.touched">
      <div *ngIf="category.errors.required">Category is required</div>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="hasGuarantee"> 30-day money-back guarantee
    </label>
  </div>
  <p>
    {{ courseForm.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!courseForm.valid">Create</button>
</form>