<form [formGroup]="form">
  <div class="form-group">
    <label>Old Password</label>
    <input class="form-control" type="password" formControlName="oldpassword">
    <div *ngIf="oldpassword.pending">Checking for Uniqueness...</div>
    <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert alert-danger">
      <div *ngIf="oldpassword.errors.required">Old Password is required</div>
      <div *ngIf="oldpassword.errors.invalidOldPassword">Incorrect Password</div>
    </div>
  </div>

  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input id="newpassword" class="form-control" type="password" formControlName="newpassword">
    <div *ngIf="newpassword.touched && newpassword.invalid" class="alert alert-danger">
      <div *ngIf="newpassword.errors.required">New Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="verifypassword">Verify Password</label>
    <input id="verifypassword" class="form-control" type="password" formControlName="verifypassword">
    <div *ngIf="verifypassword.touched && verifypassword.invalid" class="alert alert-danger" >
      <div *ngIf="verifypassword.errors.required">Verify Password is required</div>
    </div>
    <div *ngIf="form.invalid && form.errors.passwordDoesntMatch && verifypassword.valid" class="alert alert-danger" >
      Passwords don't match
    </div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>