<input type="text" (keyup.enter)="createPost(title)" #title class="form-control">
<ul class="list-group">
     <li class="list-group-item" *ngFor="let post of posts">
          <button class="btn btn-default btn-sm" (click)="deletePost(post)">Delete</button>
          {{post.title}}
     </li>
</ul>